<!DOCTYPE html>
<html>
<head>
    <title>Image Detail</title>
    <link rel="stylesheet" href="imageDetailstyle.css"> <!-- Include your CSS stylesheet here -->
</head>
<body>
    <div id="header">
        <img src="../logo/logo.png" alt="Logo" id="logo_header">
    </div>
    <div class="image-detail-container">
        <div class="image-detail">
            <img id="image-detail" src="/uploads/<%= image.filename %>" alt="<%= image.description %>">
            <label id="image-description"></label>
            <label id="project-name" ><%= image.description %></label>
            
        </div>
    <div class="InfoHead">
        <p class="InfoHead"><u>Project Specification:</u> </p>

    </div>
        <!-- New input fields -->
        <div class="input-container">
            <label for="type-project">Type/Project</label>
            <input class="inputProject" type="text" id="type-project" name="type-project">
        </div>
        <div class="input-container">
            <label for="location">Location</label>
            <input class="inputProject" type="text" id="location" name="location">
        </div>
        <div class="input-container">
            <label for="area">Area</label>
            <input class="inputProject" type="text" id="area" name="area">
        </div>
        <div class="input-container">
            <label for="client">Client</label>
            <input class="inputProject" type="text" id="client" name="client">
        </div>
        <div class="input-container">
            <label for="objective">Objective</label>
            <input class="inputProject" type="text" id="objective" name="objective">
        </div>
        <div id="inputFields">
            <label for="input">Project Specs</label>
            <div class="input-container">
              <input class="inputProject" type="text" class="input" placeholder="Enter something" id="input" name="input">
              <!-- <button class="remove">Remove</button> -->
            </div>
          </div>
          <button id="addInput">Add Input Field</button>
          <!-- <button id="logValues">Log Values</button> -->
         <!-- Input for multiple images -->
         <div class="image-details-submit">
            <button type="submit" id="submit-Details">Save Details</button>
        </div>
        <hr>
        <div class="InfoHead">
            <p class="InfoHead"><u>Image Input:</u> </p>
    
        </div>
         <div class="input-container">
            <label for="image-input">Insert Images</label>
            <!-- <input type="file"  name="image" accept="image/*" multiple> -->
            <input type="file" name="images" accept="image/*" id="input-img-form" multiple required>
            <button type="submit" id="submit-images" >Upload Image</button>

        </div>

        <!-- Photo at the bottom -->

        <!-- <div class="image-submit">
            <button type="submit" id="submit-images">Save Details</button>
        </div> -->
        <div class="image-slider">
            <% if (filteredArray && filteredArray.length > 0) { %>
                <% filteredArray.forEach(imageName => { %>
                    <div class="multiple-images">
                        <img src="/extraImages/<%= imageName %>" alt="Image" style="width: 400px; height: 200px; object-fit: cover;">
                        <br>
                        <button class="removeimg">Delete</button>
                    </div>
                <% }); %>
            <% } else { %>
                <p>No images available.</p>
            <% } %>
    
            
        </div>
        <hr>
            
            <div class="InfoHead">
                <p class="InfoHead"><u>Video Input:</u> </p>
        
            </div>
        <div class="video-input-container">
            <label for="input-video-form">Insert Videos</label>
            <input type="file" name="videos" accept="video/*" id="input-videos-form" multiple required>
            <button type="submit" id="submit-videos">Upload Videos</button>
        </div>
    

        <div class="video-slider">
            <% if (filteredVideoArray && filteredVideoArray.length > 0) { %>
                <% filteredVideoArray.forEach(videoName => { %>
                    <div class="multiple-videos">
                        <video width="400" height="200" controls>
                            <source src="../extraVideos/<%= videoName %>" type="video/mp4">
                            <source src="/extraVideos/videos-1701295825260-889397964.mp4" type="video/mp4">

                            Your browser does not support the video tag.
                        </video>
                        <br>

                        <button class="removevideo">Delete</button>
                    </div>
                <% }); %>
            <% } else { %>
                <p>No Videos available.</p>
            <% } %>
        </div>
        <hr>
        <div class="next-villa">
            
                <button id="previousVillaBtn"> Previous </button>
                <button id="nextVillaBtn"> Next </button>
            
        </div>
    </div>

    
    <script src="imageDetail.js"></script>
</body>
</html>
